* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {
    padding: 50px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    flex: 10;
}

.nav-items {
    color: #30387E;
    font-size: 20px;
    flex: 80;

    display: flex;
    justify-content: center;
    gap: 50px;
}

nav .button {
    flex: 10;
}

button {
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 30px;

    background: rgb(150,92,242);
    background: linear-gradient(90deg, rgba(150,92,242,1) 25%, rgba(255,138,220,1) 75%);

    border: none;
    border-radius: 30px;
}

.intro-section {
    display: flex;
    justify-content: space-between;
}

.left-section {
    padding-top: 100px;
}

.left-section h1 {
    font-size: 80px;
    color: #3E4794;
}

.left-section h4 {
    margin: 70px 0;
    width: 50ch;
    font-size: 16px;
    font-weight: 400;
    color: rgb(78, 77, 77);
}

.learn-more-btn {
    font-size: 25px;
    font-weight: 600;
}
.intro-img { height:600px

}

.vector-backcover {
    height: 700px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.vector-img,.vector-dot {
    position: absolute;
    top: 70%;
    right: 50%;
}

.main {
    position: relative;
    width: 800px;
}

@media (max-width: 700px) {
    body {
        padding: 0;
        margin: 10px 20px;
    }

    .nav-items {
        display: none;
    }

    .signin-btn {
        margin-left: 50px;
    }

    .imgs-div {
        display: none;
    }

    .left-section {
        padding-top: 50px;
    }

    .left-section h1 {
        width: 6ch;
    }

    .left-section h4 {
        width: 80vw;
        font-size: 20px;
        margin: 50px 0;
    }
}